pyttsx3
bs4
pymongo
flask-socketio 
eventlet
keras
spacy
tensorflow
numpy
sentence-transformers==2.6.1
transformers==4.38.2
hf_xet
SpeechRecognition 
pydub
kokoro-onnx == 0.5.0 
soundfile
PyPDF2
mcp
python-dotenv
langchain_core
